.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid blue; */

  max-width: 40em;
}

.editor {
  /* border: 1px solid green; */
  padding: 2em;
  width: 100%;

  line-height: 1.5em;
  font-family: Georgia, "Times New Roman", Times, serif;

  /* font-family: 'Libre Baskerville', serif;
  letter-spacing: -0.2px;
  font-size: 17px; */
}

.editor_dark {
  color: rgb(247, 236, 236);
  transition: all 0.3s ease-in;
}

.wordCount {
  position: fixed;
  top: 0;
  left: 0;
  margin: 1em;
  text-align: right;

  color: #aaa;
  font-family: fantasy;
}

.darkmodeButton {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 1em;
  padding: 0.3em;
  width: 100px;
  background-color: none;
}
